
$hidden-color: #666;
$desktop-unhide-duration: 2s;
$mobile-unhide-duration: 1.6s;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body {
    padding: 2rem;
}

#server-error {
    p {
        margin-bottom: 2rem;
    }
}

input, button, select {
    font-size: 2rem;    
}

#button-wrapper, select {
    display: inline;
}

#card-wrapper {
    width: fit-content;
    //background-color: #fcc;
}

img.plant-image {
    max-height: 70vh;
}

div.plant-info {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: $hidden-color;
    background-color: $hidden-color;
    width: 100%;
    cursor: pointer;
    user-select: none; // prevent accidenal reveals

    &.is-desktop:after {
        position: absolute;
        display: block;
        width: 100%;
        content: "Press R to reveal";
        color: #fff;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
    }

    &.unhidden {
        color: unset;
        background-color: unset;
        cursor: unset;
        user-select: unset;
        
        transition: color $mobile-unhide-duration, background-color $mobile-unhide-duration;
        &.is-desktop {
            transition: color $desktop-unhide-duration, background-color $desktop-unhide-duration;
        }

        &.is-desktop:after {
            content: none;
        }
    }

    & p.plant-name {
        margin-bottom: 0.75rem;
        font-weight: 600;
    }

    & p.family {
        margin-bottom: -0.4rem;
    }

    & em.species,
    & p.bloom-time {
        font-size: 80%;

    }

    & em.species {
        font-style: italic;
    }
}

@media only screen and (max-width: 768px) {
    #card-wrapper {
        width: 100%;
    }
    img.plant-image {
        width: 100%;
    }

    #flex-wrapper {
        display: flex;
        flex-direction: column;

        & :nth-child(1) {
            order: 4;
        }
        & :nth-child(2) {
            order: 3;
        }
        & :nth-child(3) {
            order: 2;
        }
        & :nth-child(4) {
            order: 1;
        }
    }
    input, select {
        font-size: 2rem;
        height: 6rem;
    }
    button {
        width: 50%;
        height: 8rem;
    }
    select {
        margin-top: 0;
        margin-bottom: 2rem;
        padding-left: 2rem;
        width: 100%;
    }    
    #button-wrapper, select {
        display: block;
    }

    #all-done, #all-done-group {
        line-height: 2rem;
    }
    #all-done-group {
        select {
            margin-top: 1rem;
        }
    }

    #image-and-stats-wrapper {
        position: relative;

        & > div {
            position: absolute;
            font-size: 1.5rem;
            right: 0;
            bottom: 0.2rem;
            background-color: rgba(255, 255, 255, 0.75);
            padding: 0.5rem 1rem;
        }
    }
    div.plant-info {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;    
    }
    img.plant-image {
        max-width: 100%;
    }
}