
$hidden-color: #666;

$desktop-unhide-duration: 2s;
$mobile-unhide-duration: 1.6s;

$desktop-button-height: 3.5rem;
$desktop-button-width: 15rem;

$desktop-triangle-size: 8px;
$mobile-triangle-size: 12px;

$mobile-button-height: 8rem;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body {
    padding: 2rem;
}

#server-error {
    p {
        margin-bottom: 2rem;
    }
}

input, button, select {
    font-size: 2rem;   
    
    &:not([disabled]) {
        cursor:  pointer;
    }
}

#button-wrapper, select {
    display: inline-block;
    height: $desktop-button-height;
}

#button-wrapper button {
    width: $desktop-button-width;
    height: $desktop-button-height;
}

#all-done-group {
    em {
        //font-weight: bold;
        font-style: italic;
    }
    select {
        margin-left: 0.2em;
    }
}

div#advance-action-wrapper {
    display: inline-block;
    position: relative;

    & div#other-advance-actions-hotspot {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: $desktop-button-height;
        //background-color: #f00; // debugging

        &:before {
            position: absolute;
            top: 50%;
            display: block;
            width: 0; 
            height: 0; 
            transform: translate(calc($desktop-triangle-size / 2), -50%);
            content: "";
            border-left: $desktop-triangle-size solid transparent;
            border-right: $desktop-triangle-size solid transparent;
            border-top: $desktop-triangle-size solid #aaa;
        }

        &:hover {
            cursor:  pointer;
            &:before {
                border-top-color: #000;
            }
        }

        &[disabled] {
            pointer-events: none;

            &:before {
                opacity: 0.5;
            }
        }
    }

    & ul#other-advance-actions {
        position: absolute;
        display: none;
        z-index: 1;
        transform: translate(0, -1px);
    }

    & div#other-advance-actions-hotspot:hover,
    & div#other-advance-actions-hotspot.hover {
        & + ul#other-advance-actions {
            display: block;
        }
    }
    
    ul#other-advance-actions:hover {
        display: block;
    }

    // handle the situation where the user has just clicked on an option but is still technically
    // hovering over it, where the above rule would have left the options still displaying
    & div#other-advance-actions-hotspot[disabled] {
        & + ul#other-advance-actions {
            display: none;
        }
    }
}

#card-wrapper {
    width: fit-content;
    //background-color: #fcc;
}

img.plant-image {
    max-height: 70vh;
}

div.plant-info {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: $hidden-color;
    background-color: $hidden-color;
    width: 100%;
    cursor: pointer;
    user-select: none; // prevent accidenal reveals

    &.is-desktop:after {
        position: absolute;
        display: block;
        width: 100%;
        content: "Press R to reveal";
        color: #fff;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
    }

    &.unhidden {
        color: unset;
        background-color: unset;
        cursor: unset;
        user-select: unset;
        
        transition: color $mobile-unhide-duration, background-color $mobile-unhide-duration;
        &.is-desktop {
            transition: color $desktop-unhide-duration, background-color $desktop-unhide-duration;
        }

        &.is-desktop:after {
            content: none;
        }
    }

    & p.plant-name {
        margin-bottom: 0.75rem;
        font-weight: 600;
    }

    & p.family {
        margin-bottom: -0.4rem;
    }

    & em.species,
    & p.bloom-time {
        font-size: 80%;

    }

    & em.species {
        font-style: italic;
    }
}

@media only screen and (max-width: 768px) {
    body {
       margin-bottom: 4rem;
    }
    #card-wrapper {
        width: 100%;
    }
    img.plant-image {
        width: 100%;
    }

    #flex-wrapper {
        display: flex;
        flex-direction: column;

        & :nth-child(1) {
            order: 4;
        }
        & :nth-child(2) {
            order: 3;
        }
        & :nth-child(3) {
            order: 2;
        }
        & :nth-child(4) {
            order: 1;
        }
    }
    input, select {
        font-size: 2rem;
        height: 6rem;
    }
    
    #button-wrapper {
        & > div,
        & > button {
            width: 50%;
            height: $mobile-button-height;
        }
        & #advance-action-wrapper {
            & > button,
            & > div,
            & ul {
                width: 100%;
                height: $mobile-button-height;
            }

            & div#other-advance-actions-hotspot {                
                //background-color: #f00;
                height: $mobile-button-height;
                width: calc($mobile-triangle-size + 3rem);

                &:before {
                    transform: translate(calc(0.5rem + $mobile-triangle-size / 2), -50%);
                    border-left-width: $mobile-triangle-size;
                    border-right-width: $mobile-triangle-size;
                    border-top-width: $mobile-triangle-size;
                }
            }

            & ul#other-advance-actions {
                //display: block;
                & button {
                    $other-advance-actions-height: calc(0.75 * $mobile-button-height);

                    width: 100%;
                    height: $other-advance-actions-height;
                    transform: translate(0, calc(0rem - $mobile-button-height - $other-advance-actions-height + 2px));
                }
            }
        }
    }

    select {
        margin-top: 0;
        margin-bottom: 2rem;
        padding-left: 2rem;
        width: 100%;
    }    
    #button-wrapper, select {
        display: block;
    }

    #all-done, #all-done-group {
        line-height: 2rem;
    }
    #all-done-group {
        select {
            margin-left: 0;
            margin-top: 1rem;
        }
    }

    #image-and-stats-wrapper {
        position: relative;

        & > div {
            position: absolute;
            font-size: 1.5rem;
            right: 0;
            bottom: 0.2rem;
            background-color: rgba(255, 255, 255, 0.75);
            padding: 0.5rem 1rem;
        }
    }
    div.plant-info {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;    
    }
    img.plant-image {
        max-width: 100%;
    }
}